<!DOCTYPE html>
<html>
<head>
	<title> Passport_js_Template </title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	{{{body}}}
</body>
</html>